<launch>
    <node pkg="nodelet" type="nodelet" name="trik_nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="trik_node" args="load Trik trik_nodelet_manager"/>
    <node pkg="nodelet" type="nodelet" name="led_distance" args="load LedDistance trik_nodelet_manager"/>
</launch>
